body {
    margin: 0;
}

.wrapper {
    margin: 0 auto;
    width: 760px;
    height: 203px;
}

.textarea {
    width: 760px;
    height: 203px;
    color: black;
    font-size: 18px;
    box-shadow: 1px 1px 6px 3px #84004D;
}

.keyboard-wrapper {
    margin: 10px auto;
    padding: 5px;
    width: 760px;
    height: 250px;
    background-color: #04859D;
}

.keyboard-row {
    display: flex;
    height: 50px;
}
.key {
    flex-grow: 1;
    display: inline-block;
    margin: 1px 1px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background-color: #E467B3;
    cursor: pointer;
    color: #FFFE40;
    font-weight: 700;
    font-size: 18px;
}

.keyTextCaps, .keyTextUp, .keyTextDown {
    display: block;
    min-width: 40px;
}

.Backspace, .CapsLock, .ShiftLeft {
    width: 110px;
}

.keyToolDown, .keyToolUp, .keyToolCaps {
    display: block;
    min-width: 89px;
}

.Tab, .Enter, .ShiftRight {
    width: 90px;
}

.Space {
    width: 350px;
    background-color: #E467B3;
}

.ControlLeft, .AltLeft, .MetaLeft {
    width: 40px;
    height: 40px;
}

.ControlLeft .keyToolDown {
    min-width: 0;
}
.MetaLeft .keyToolDown {
    min-width: 0;
}
.AltLeft .keyToolDown {
    min-width: 0;
}
.AltRight .keyToolDown {
    min-width: 0;
}
.ControlRight .keyToolDown {
    min-width: 0;
}

.Backspace, .CapsLock, .ShiftLeft,
.Tab, .Enter, .ShiftRight,
.ControlRight, .AltLeft, .MetaLeft,
.ControlLeft, .AltRight {
    background-color: #983FD5;
}


.active {
    background-color: greenyellow;
    border-radius: 30%;
}


.hidden {
    display: none;
}