body {
    margin: 0;
    background-color: #FFFE40;
}

.wrapper {
    margin: 0 auto;
}

.textarea {
    margin-left: 93px;
    width: 760px;
    height: 203px;
    background-color: #AC66D5;
    color: #ffffff;
    box-shadow: 1px 1px 6px 3px #84004D;
}

.keyboard-wrapper {
    margin: 0 auto;
    width: 760px;
    height: 280px;
    background-color: #506275;
}

.keyboard-row {
    height: 50px;
    background-color: #84004D;
    margin-bottom: 5px;
}
.key {
    display: inline-block;
    margin: 1px 1px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background-color: #FFFE40;
    cursor: pointer;
}

.keyTextCaps, .keyTextUp, .keyTextDown {
    display: block;
    min-width: 40px;
}

.Backspace, .CapsLock, .ShiftLeft {
    width: 110px;
}

.keyToolDown, .keyToolUp, .keyToolCaps {
    display: block;
    min-width: 89px;
}

.Tab, .Enter, .ShiftRight {
    width: 90px;
}

.Space {
    width: 350px;
    background-color: #FFFE40;
}

.ControlLeft, .AltLeft, .MetaLeft {
    width: 40px;
    height: 40px;
}

.ControlLeft .keyToolDown {
    min-width: 0;
}
.MetaLeft .keyToolDown {
    min-width: 0;
}
.AltLeft .keyToolDown {
    min-width: 0;
}
.AltRight .keyToolDown {
    min-width: 0;
}
.ControlRight .keyToolDown {
    min-width: 0;
}




.Backspace, .CapsLock, .ShiftLeft,
.Tab, .Enter, .ShiftRight,
.ControlRight, .AltLeft, .MetaLeft,
.ControlLeft, .AltRight {
    background-color: gray;
}


.active {
    background-color: greenyellow;
}


.hidden {
    display: none;
}